<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">
                <small>Accounts History</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">Accounts</li>
            </ol>
        </div>

    </div>

    <div class="row">
      <div class="col-md-12" >
            <div class="bs-example" data-example-id="panel-without-body-with-table"> 
                <div class="panel panel-default"> 
                    <div class="panel-heading">Your Transactions</div> 
                    <table class="table"> 
                        <thead> 
                            <tr> 
                                <th>#</th> 
                                <th>Date</th>
                                <th>Description</th> 
                                <th>Amount</th> 
                            </tr> 
                        </thead> 
                        <tbody> 
                            <tr ng-repeat="transaction in transactions"> 
                                <th scope="row">{{transaction.id}}</th> 
                                <td>{{transaction.date}}</td> 
                                <td>{{transaction.description}}</td> 
                                <td>R {{transaction.amount}}</td> 
                            </tr>  
                        </tbody> 
                    </table> 
                </div> 
            </div>
      </div>
    </div>
    <!-- /.row -->

   

</div>
<!-- /.container -->
